.trendingContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;

}

@media (max-width: 1440px) {
    .trendingContainer {
        max-width: 1440px;
        overflow-y: auto;
    }
}